:root {
    --body-bg-color: #1a1e24;
    --main-bg-color: #222831;
    --medium-bg-color: #31363F;
}

*{
    font-family: "Monstserrat", sans-serif;
}

body {
    background-color: var(--body-bg-color) !important;
}

.bg-custom-dark{
    background-color: var(--main-bg-color) !important;
}

.post-hover{
    background-color: unset;
    transition: 200ms;
}

.post-hover:hover{
    background-color: var(--medium-bg-color) !important;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.like-hover{
    color: unset;
    transition: 200ms;
}

.like-hover:hover{
    color: red;
    cursor: pointer;
    transition: 200ms;
}

.comment-hover{
    color: unset;
    transition: 200ms;
}

.comment-hover:hover{
    color: yellow;
    cursor: pointer;
    transition: 200ms;
}

.post-input {
    all: unset;
    border-radius: 5px;
    caret-color: cyan;
    color: var(--main-bg-color);
    overflow: hidden;
}

#image-preview, #add-img-label {
    cursor: pointer;
}

#image-input {
    height: 0px;
    width: 0px;
}

.hidden{
    visibility: hidden;
}

.custom-scroll{
    max-height: 20vh !important;
    overflow-y: scroll;
}

.custom-scroll::-webkit-scrollbar {
    border-radius: 5px;
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--medium-bg-color);
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}